# i3blocks configuration file
#
# The i3blocks man page describes the usage of the binary,
# and its website describes the configuration:
#
#     https://vivien.github.io/i3blocks


# Global properties
separator=true
separator_block_width=15
SCRIPT_DIR=/home/{{ item }}/.config/i3

[documentation]
full_text=Documentation
website=https://vivien.github.io/i3blocks
command=xdg-open "$website"
color=#f12711

[greetings]
color=#f5af19
command=echo "Hello, $USER!"
interval=once

{% if wifi_interface_name is defined and wifi_interface_name|length %}
[wifi]
command=$SCRIPT_DIR/block_wifi
INTERFACE={{ wifi_interface_name }}
interval=60
{% endif %}

[time]
command=date '+%Y-%m-%d %H:%M:%S'
interval=1
