# i3blocks configuration file
#
# The i3blocks man page describes the usage of the binary,
# and its website describes the configuration:
#
#     https://vivien.github.io/i3blocks


# Global properties
separator=true
separator_block_width=15
SCRIPT_DIR=/home/{{ item }}/.config/i3

[capslock_indicator]
command=$SCRIPT_DIR/key_indicator.blocks
KEY_INDICATOR=Caps
markup=pango
interval=once
signal=11

[numlock_indicator]
command=$SCRIPT_DIR/key_indicator.blocks
KEY_INDICATOR=Num
markup=pango
interval=once
signal=11

{% if battery.stat.exists  %}
[battery]
command=$SCRIPT_DIR/battery.blocks
markup=pango
interval=300
{% endif %}

[net]
command=$SCRIPT_DIR/net.blocks
markup=pango
interval=30

[ping]
command=$SCRIPT_DIR/ping.blocks
markup=pango
interval=2

[time]
command=date '+%Y-%m-%d %H:%M:%S'
interval=1
